myenv/
venv/*
hadoop/hadoop_*
data/img/large files/*
minio/storage/*
scripts/.env
spark/scripts/
drive_fetch/.env
airflow/google.env
airflow/logs/
airflow/dags/__pycache__/
drive_fetch/venv/
scripts/spark-warehouse/
scripts/.ipynb_checkpoints/


